.modal__container {
  position: relative;
  background-color: #ffffff;
  width: 498px;
  height: 610px;
  border-radius: 16px;
}
.modal__image {
  width: 100%;
  height: 498px;
  border-radius: 16px 16px 0 0;
}
.item__close-btn {
  background-image: url("../../assets/item-close.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}
.modal__footer {
  margin-left: 32px;
}
.modal__caption {
  margin: 0;
  width: 36px;
  height: 24px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}
.modal__weather {
  margin: 12px 0 0 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.modal__info {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__delete-btn {
  margin: 0 33px 0 0;
  border: none;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ff4d00;
  letter-spacing: 0%;
  background-color: transparent;
  cursor: pointer;
}
