.sidebar__profile {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  align-items: center;
}

.sidebar__username {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #000000;
  letter-spacing: 0%;
}

.sidebar__avatar {
  margin-left: 12px;
  flex: 0 0 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
