.clothes-section {
  width: 1015px;
  margin-bottom: 80px;
}

.clothes-section__row {
  display: flex;
  align-items: center;
}

.clothes-section__title {
  width: 94px;
  height: 25px;
  margin: 0 0 16px 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  color: #000000;
  letter-spacing: 0%;
}

.clothes-section__button {
  height: 25px;
  color: #00000099;
  border: none;
  top: 135px;
  left: 499px;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.clothes-section__items {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
  overflow: hidden;
}
